 <ul class="tabs">
						<li><a href="#tab1"><span><span>Category 1</span></span></a></li>
						<li><a href="#tab2"><span><span>Category 2</span></span></a></li>
						<li><a href="#tab3"><span><span>Category 3</span></span></a></li>
						<li><a href="#tab4"><span><span>Category 4</span></span></a></li>
						<li><a href="#tab5"><span><span>Category 5</span></span></a></li>
				 </ul>