 <h2>Fresh News:</h2>
							 <ul class="news">
									<li><span>4</span><strong><a href="#">Nam libero tempore</a><br>
										 Cum soluta nobis est eligendi optio cumque.</strong></li>
									<li><span>2</span><strong><a href="#">Ut enim ad minima veniam</a><br>
										 Quis autem vel eum iure reprehenderit qui.</strong></li>
									<li><span>5</span><strong><a href="#">Sed perspiciatis unde</a><br>
										 Nemo enim ipsam voluptatem quia voluptas aspernatur.</strong></li>
							 </ul>